
@import 'reset';
@import 'variables/global';
@import 'themes/default';
@import 'themes/dark';

body {
    font-size: var(--font-size-16);
    font-family: var(--font-family-main);
}

.App {
    background-color: var(--bg-color);
}

.AppWrapper {
    max-width: 1740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    overflow: hidden;
    gap: var(--base-gap);
    color: var(--primary-color);
    min-height: 100%;
}

.content-wrapper {
    flex: 1 1 auto;
    display: flex;
    gap: var(--base-gap);
}

.page-wrapper {
    flex: 1 1 auto;
    background-color: var(--secondary-bg-color);
    padding: var(--base-padding);
    border-radius: var(--border-radius);
}