.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 15px;
}