.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #2E2E2E;
    color: #fff;
}