.Button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 20px;
    text-transform: uppercase;
    background-color: var(--bg-color);
    border-radius: 6px;
    color: #fff;
}

.outline {
    border: 1px solid red;
}
