:root {
    // Фон для body
    --bg-color: #F5F4F6;

    // Фон для основных блоков (sidebar, pages, navbar)
    --secondary-bg-color: #fff;
    --inverted-bg-color: #1B1C1F;

    // Основной цвет (Основного текста, кнопок, и т.п)
    --primary-color: #222;
    --inverted-primary-color: #fff;

    // Дополнительный текст (параграфы, описание и т.п)
    --secondary-color: #4F4F4f;
}