:root {
    --font-family-main: Consolas, 'sans-serif';
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-21: 21px;
    --font-size-24: 24px;
    --font-size-27: 27px;

    // ===========
    --font-lh-110: 110%;
    --font-lh-125: 125px;
    --font-lh-150: 150px;
    

    // SIZES 
    // navbar
    --border-radius: 6px;
    --navbar-height: 50px;

    // sidebar
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // indents
    --base-padding: 15px;
    --base-gap: 8px;

    // Index
    --modal-z-index: 10;

    // Доп. цвета сайта
    --overlay-color: rgba(0 0 0 / 0.7);
    --blue-color: #5F7ADB;
    --red-color: #c00;
}