:root {
    --font-family-main: Consolas, 'sans-serif';
    --font-size-m: 16px;
    --font-line-m: 150%;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // ---
    --font-size-l: 24px;
    --font-line-l: 130%;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);


    // SIZES 
    // navbar
    --border-radius: 6px;
    --navbar-height: 50px;

    // sidebar
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // indents
    --base-padding: 15px;
    --base-gap: 8px;

    // Index
    --modal-z-index: 10;

    // Доп. цвета сайта
    --overlay-color: rgba(0 0 0 / 0.7);
    --blue-color: #5F7ADB;
    --red-color: #c00;
}